body{
    background-position: center;
    background-size: cover;
    border-width: 10px;
    text-align: center;
}
h1{
    color: rgb(23, 131, 1);
    
}

#button
{
    background-color: rgb(249, 3, 57);  
    color:rgb(241, 243, 241);
    font-size: 24px; 
}